//Colors
$off-black: #20222b;
$light-grey: #a5afd7;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$purple: #8357c5;

//Font size
$s-size: 1.2rem;
$m-size-16: 1.6rem;
$m-size-48: 4.8rem;
$m-size-32: 3.2rem;
$desktop-break-point: 45rem;

